/* Styles for container with dish cards */


.container {
    position: absolute;
    top: 150px;
    left: 200px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.container__card {
    display: flex;
    margin: 10px 0 0 10px;
    box-sizing: border-box;
    width: 400px;
    min-width: 400px;
    height: 250px;
    color: var(--black);
    font-weight: bold;
}

.container__img {
    position: relative;
    overflow: hidden;    
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.container__card:hover .container__dish-name,
.container__card:hover .container__dish-wrapper {
    transition: background-color 0.15s linear 0.05s;
    background-color: var(--violet);
}

.container__dish-wrapper {
    position: absolute;
    margin: 170px 20px;
    width: fit-content;
    min-width: fit-content;
    background-color: var(--white);
    font-size: 15px;
    text-transform: uppercase;
}

.container__dish-data {
    padding: 3px;
}

.containter__apple-icon {
    height: 15px;
}

.container__dish-name {
    position: absolute;
    margin: 10px 20px;
    max-width: 350px;
    padding: 5px;
    background-color: var(--white);
    font-size: 20px;
    text-transform: uppercase;
}

.container__data-icon {
    margin-bottom: -2px;
    width: 15px;
    height: 15px;
}


@media only screen and (max-width: 650px) {
    .container {
        left: 0;
    }
}