/* Styles dish details page */

.dish__wrapper {
    position: absolute;
    top: 150px;
    left: 200px;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 200px);

}
.dish__details {
    flex-direction: column;
    align-items: center;
    display: inline-flex;
    box-sizing: border-box;
    color: white;
    width: 650px;
}

.dish__name {
    display: block;
    margin: 20px 0;
    width: 650px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.dish__img {
    width: 650px;
}

.dish__ingredients {
    display: block;
    margin-top: 20px;
    border-top: 2px solid white;
    box-sizing: border-box;
    min-width: 300px;
    width: 650px;
    padding-top: 10px;
}

.dish__ingredients-list {
    margin: 10px 0 10px 20px;
    list-style-type: disc;
}

.dish__recipe {
    display: block;
    margin: 20px 0 50px 0;
    border-top: 3px solid white;
    width: 650px;
    padding-top: 10px;
}

.dish__recipe-details {
    padding-top: 8px;
    text-align: justify;
}

@media only screen and (max-width: 650px) {
    .dish__wrapper {
        width: 100%;
        left: 0;
    }


}

@media only screen and (max-width: 900px) {
    .dish__details,
    .dish__name,
    .dish__img,
    .dish__ingredients,
    .dish__recipe {
        width: 400px;
    }
}
