/* Styles for header classes */


.header {
    position: fixed;
    z-index: 10;
    justify-content: flex-end;
    align-items: flex-end;
    display: inline-flex;
    width: 100%;
    min-width: 450px;
    height: 130px;
    box-sizing: border-box;
    border-bottom: 31px solid var(--violet);
    background: white url("/media/images/tools.png") repeat-x left top;
    background-size: 100px;
}

.header__name {
    margin-right: auto;
    padding-left: 15px;
    font: 35px 'Rock Salt', cursive;
    text-decoration: none;
    color: black;
}

.header__search {
    padding-bottom: 10px;
}

.header__search-bar {
    width: 80px;
    height: 20px;
    font-size: 20px;
}

@media only screen and (min-width: 600px) {
    .header__search-bar:hover {
        transition: width 0.3s linear 0.2s;
        width: 200px;
    }

}

.header__search-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.header__login {
    height: 20px;
    padding: 3px 10px 11px 0;  
}