/* Styles for header classes */


.header {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    border-bottom: solid 2px var(--white);
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    background-color: var(--black);
    font-family: 'Josefin Sans', sans-serif;
}

.header__name {
    position: absolute;
    top: 20px;
    font-size: 70px;
    color: var(--white);
    text-decoration: none;
    user-select: none;
}

.header__search-wrapper {
    position: absolute;
    bottom: 15px;
}

.header__search-bar {
    width: 270px;
    height: 20px;
    padding: 3px;
    font-size: 14px;
}


.header__search-button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: var(--white);
}

.header__search-button:hover {
    color: var(--violet);
}

.header__home,
.header__login {
    position: absolute;
    top: 0;
    margin: 10px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
}

.header__home {
    right: 70px;
}

.header__login {
    right: 10px;
}

.header__home:hover,
.header__login:hover {
    color: var(--violet);
}


@media only screen and (max-width: 650px) {
    .header__name {
        top: 40px;
        font-size: 50px;
    }

}