@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Nunito:wght@300&display=swap');
/* CSS rules to specify families:     */
/* font-family: 'Nunito', sans-serif; */
/* font-family: 'Josefin Sans', sans-serif; */


/* Colors */

:root {
    --violet: rgb(134, 79, 134);
    --black: rgb(15, 15, 15);
    --white: rgb(220, 220, 220);
}


/* HTML tags */

body {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--black);
    min-width: 650px;
    font-family: 'Nunito', sans-serif
}

h3 {
    font-weight: bold;
}

input:hover {
    border: 1px solid var(--violet);
}