@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
/* CSS rules to specify families:     */
/* font-family: 'Rock Salt', cursive; */


/* Colors */

:root {
    --violet: rgb(110, 55, 110);
    --yellow: #fded0a;
}


/* HTML tags */

body { 
    font-family: Tahoma;
    min-width: 600px;
}

h3 {
    font-weight: bold;
}

input:hover {
    border: 1px solid var(--violet);
}