<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Cooking blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
            <h1 class="header__name">Cooking blog</h1>
            <form class="header__search" action="{% url 'search' %} "method="get">
                <input class="header__search-bar" type="text" name="searchbar" placeholder="Search...">
                <button class="header__search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <a href="{% url 'admin:index' %}"><img class="header__login" src="/media/images/login.png"></a>
        </header>
        <nav class="navigation">
            <p class="navigation__title">KATEGORIE</p>
            {% for kind in kinds_list %}
                <a href="{% url 'category' category=kind %}" class="navigation__button">{{ kind }}</a>
            {% endfor %}
            <p class="navigation__title">KRAJE</p>
            {% for country in countries_list %}
                <a href="{% url 'country' country=country %}" class="navigation__button">{{ country }}</a>
            {% endfor %}
            <p class="navigation__title">DIETETYCZNE</p>
            {% for kind in kinds_list %}
                <a href="{% url 'diet' category=kind %}" class="navigation__button">{{ kind }}</a>
            {% endfor %}
        </nav>
        <section class="container">
            {% block content %}
            {% endblock %}
        </section>  
    </body>
</html>