<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Cooking blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/navigation.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/container.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/dish.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>
        <header class="header">
            <h1 class="header__name">cooking blog</h1>
            <form class="header__search-wrapper" action="{% url 'search' %} "method="get">
                <input class="header__search-bar" type="text" name="searchbar" placeholder="Search...">
                <button class="header__search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <a href="{% url 'admin:index' %}" class="header__login">login</a>
            <a href="{% url 'index' %}" class="header__home">home</a>
        </header>
        <nav class="menu">

            <div class="menu__wrapper">
                <button class="menu__title">KATEGORIE</button>
                <ul class="menu__accordion">
                    {% for kind in kinds_list %}
                    <li><a href="{% url 'category' category=kind %}" class="menu__link">{{ kind }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu__wrapper">
                <button class="menu__title">KRAJE</button>
                <ul class="menu__accordion">
                    {% for country in countries_list %}
                    <li><a href="{% url 'country' country=country %}" class="menu__link">{{ country }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu__wrapper">
                <button class="menu__title"><img class="containter__diet-icon" src="/media/images/apple.png"> KATEGORIE</button>
                <ul class="menu__accordion">
                    {% for kind in kinds_list %}
                    <li><a href="{% url 'category_diet' category=kind %}" class="menu__link">{{ kind }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="menu__wrapper">
                <button class="menu__title"><img class="containter__diet-icon" src="/media/images/apple.png"> KRAJE</button>
                <ul class="menu__accordion">
                    {% for country in countries_list %}
                    <li><a href="{% url 'country_diet' country=country %}" class="menu__link">{{ country }}</a></li>
                    {% endfor %}
            </div>
            <script type="text/javascript" src="{% static 'blog/menu.js' %}"></script>
        </nav>
        {% block content %}
        {% endblock %}
 
    </body>
</html>