<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Cooking blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/reset.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header class="header">
            <a href="{% url 'index' %}" class="header__name">Cooking blog</a>
            <form class="header__search" action="{% url 'search' %} "method="get">
                <input class="header__search-bar" type="text" name="searchbar" placeholder="Search...">
                <button class="header__search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
            <a href="{% url 'admin:index' %}"><img class="header__login" src="/media/images/login.png"></a>
        </header>
        <nav class="navigation">
            
            <ul class="navigation__dropdown">
                <li class="navigation__button">KATEGORIE</li>
                {% for kind in kinds_list %}
                <li><a href="{% url 'category' category=kind %}" class="navigation__link">{{ kind }}</a></li>
                {% endfor %}
            </ul>

            <ul class="navigation__dropdown">
                <li class="navigation__button">KRAJE</li>
                {% for country in countries_list %}
                <li><a href="{% url 'country' country=country %}" class="navigation__link">{{ country }}</a></li>
                {% endfor %}
            </ul>

            <ul class="navigation__dropdown-diet">
                <li class="navigation__button"><img class="containter__diet-icon" src="/media/images/apple.png"> KATEGORIE</li>
                {% for kind in kinds_list %}
                <li><a href="{% url 'category_diet' category=kind %}" class="navigation__link">{{ kind }}</a></li>
                {% endfor %}
            </ul>

            <ul class="navigation__dropdown-diet">
                <li class="navigation__button"><img class="containter__diet-icon" src="/media/images/apple.png"> KRAJE</li>
                {% for country in countries_list %}
                <li><a href="{% url 'country_diet' country=country %}" class="navigation__link">{{ country }}</a></li>
                {% endfor %}
            </ul>


        </nav>
        
            {% block content %}
            {% endblock %}
 
    </body>
</html>