{% extends 'blog/base.html' %}

{% block content %}
<div class="container2">


<section class="container__details">


        <div class="container__details-name">
            <h2>{{ dish.dish_name }}</h2>
        </div>    
        <div>
            {% if dish.dish_image %}
            <img class="container__dish-photo" src="{{ dish.dish_image.url }}">
            {% else %}
            <img class="container__dish-photo" src="/media/images/default-dish-img.png">
            {% endif %}
        </div>

        <div class="container__details-ingredients">
            <h3>Lista składników:</h3>
            <ul>
            {% for ing in dish.ingredient_set.all %}
                {% if ing.quantity == NULL or ing.unit == '' %}
                <li>{{ ing.ingredient }}</li>
                {% else %}
                <li>{{ ing.ingredient }} / {{ ing.quantity|floatformat:"-1" }} {{ ing.unit }}</li>
                {% endif %}
            {% endfor %}
            </ul>
            <h3>Lista przypraw:</h3>
            <ul>
            {% for spice in dish.spice_set.all %}
                <li>{{ spice.spice }}</li>
            {% endfor %}
            </ul>
        </div>
            

                
        <div class="container__details-recipe">
            <h3>Przygotowanie:</h3>
            <p>{{ dish.recipe|linebreaks }}</p>
        </div>
    

</section>


</div>
{% endblock %}