{% extends 'blog/base.html' %}

{% block content %}
    <div class="container__details">

        <div class="container__details-name">
            <h1>{{ dish.dish_name }}</h1>
        </div>    

        <div class="container__details-imgbox">
            <div class="container__details-ingredients">
                <h2>Lista składników:</h2>
                <ul>
                {% for ing in dish.ingredient_set.all %}
                    {% if ing.quantity == NULL or ing.unit == '' %}
                    <li>{{ ing.ingredient }}</li>
                    {% else %}
                    <li>{{ ing.ingredient }} / {{ ing.quantity|floatformat:"-1" }} {{ ing.unit }}</li>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="container__dish-photo">
                {% if dish.dish_image %}
                <img src="{{ dish.dish_image.url }}" width="500">
                {% else %}
                <img src="/media/images/default-dish-img.png" width="500">
                {% endif %}
            </div>
        </div>
                
        <div class="container__details-recipe">
            <h2>Przygotowanie:</h2>
            <p>{{ dish.recipe }}</p>
        </div>
    
    </div>
{% endblock %}