{% extends 'blog/base.html' %}

{% block content %}

<section class="container">
    {% for dish in dishes %}
    <a href="{% url 'details' dish_id=dish.pk %}" class="container__card">

        {% if dish.dish_image %}
        <img class="container__img" src="{{ dish.dish_image.url }}">
        {% else %}
        <img class="container__img" src="/media/images/default-dish-img.png">
        {% endif %}
        <div class="container__dish-name">
            {% if dish.diet == True %} <img class="containter__diet-icon" src="/media/images/apple.png"> {% endif %}
            {{ dish }}
        </div>
        <div class="container__dish-wrapper">
            <div class="container__dish-data"><img class="container__data-icon" src="/media/images/dish16x16.png"> {{ dish.kind_of_meal}}</div>
            <div class="container__dish-data"><img class="container__data-icon" src="/media/images/world256x256.png"> {{ dish.country}}</div>
            <div class="container__dish-data"><img class="container__data-icon" src="/media/images/date512x512.png"> {{ dish.created_date|date:"Y-m-d" }}</div>
        </div>
    </a>
    {% endfor %}
</section>

{% endblock %}