{% extends 'blog/base.html' %}

{% block content %}
    {% for dish in dishes %}
    <article class="container__card">
        <div class="container__dish-data">
            <img class="container__data-icon" src="/media/images/dish16x16.png"> {{ dish.kind_of_meal}} / 
            <img class="container__data-icon" src="/media/images/world256x256.png"> {{ dish.country}} / 
            <img class="container__data-icon" src="/media/images/date512x512.png"> {{ dish.created_date|date:"Y-m-d" }}
        </div>
        {% if dish.dish_image %}
        <a href="{% url 'details' dish_id=dish.pk %}"><img class="container__img-link" src="{{ dish.dish_image.url }}"></a>
        {% else %}
        <a href="{% url 'details' dish_id=dish.pk %}"><img class="container__img-link" src="/media/images/default-dish-img.png"></a>
        {% endif %}
        <h2 class="container__dish-name">{{ dish }}</h2>
    </article>
    {% endfor %}
{% endblock %}